
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div style="width: 1000px; height: 800px; background-color: rgb(189, 200, 206); text-align: center; margin: auto;
      margin-top: 100px; border-radius: 20px;">
    <img style="width: 300px; height: 300px; border-radius: 25%; padding: 10px; margin-top: 90px;" src="https://i1-ngoisao.vnecdn.net/2022/12/04/au0-jpeg-7124-1670104791.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=y7SPv5m2mfib-BeT-qjhLg"/>
    <div style="border-radius: 10px;">
       <a style="color: black; margin-top: 20px; font-size: 20px; width: 300px;" href="/admin/user" class="btn btn-success">Quản Lý User</a>
    </div>
    <div style="border-radius: 10px;">
       <a style="color: black; margin-top: 30px; font-size: 20px;width: 300px;" href="/admin/product" class="btn btn-success">Quản Lý Sản Phẩm</a>
    </div>
  
  </div>
</div>