
        <div style="width: 800px; height: 500px; background-color: rgb(189, 200, 206); margin: auto;
      margin-top: 100px; border-radius: 20px;">

    <form action="/admin/login" method="POST" style="padding: 80px;">
          <h1 style="text-align: center;">Đăng Nhập</h1>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email"  name="email" style="border-radius: 10px;height: 40px;"  required>
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" class="form-control" id="password"  name="passWord" required style="border-radius: 10px;height: 40px;">
      </div>
       <button type="submit" class="btn btn-primary" style="width: 640px;height: 50px;border-radius: 10px;">Đăng Nhập</button>
      </form>
      </div>